<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns  = "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		    = "com.dekatel.dapp"
	version 	= "1.0">

	<name>Dekatel</name>

	<description>
        App from Dekatel
	</description>
	<preference name="phonegap-version" value="2.0.0" />
	<author>CSSCorp - SmartWeb</author>
	<access origin="*" />
	<icon src="images/Icon.png" width="57" height="57" />
	<icon src="images/Icon-72.png" width="72" height="72" />
	<preference name="stay-in-webview" value="true" />
	<gap:splash src="images/splash1.png" width="320" height="480" />
	<gap:splash src="images/splash1.png" width="640" height="960" />
	<gap:plugin name="BarcodeScanner" /> <!-- latest release -->
	<gap:splash src="images/splash1.png"/> 
</widget>
